# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Builds
node_modules/
dist/
dist-ssr/
*.local

# Ignore all .vscode except extensions.json (for recommended extensions)
.vscode/*
!.vscode/extensions.json

# IDE settings and OS files
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
